.footer{
    height: 100px;
    color: white;
}

.textH6{
    font-size:20px; 
    display: flex;
    align-items: start;
    padding-left: 30px;
    padding-left: 70%;
    margin-bottom: 0px;
}

.datos{
    display: flex;
    padding-left: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 20px;
}